/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Segoe UI', system-ui, sans-serif;
  background-color: #020617;
  color: #f1f5f9;
}

html,
body,
#root {
  height: 100%;
}
